* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family:"Comic Sans MS", 'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    width: fit-content;
    margin: 0 auto;
}


.wrap {
    padding: 32px 10px 64px;
    background-color: #54B1E5;
}

.content {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
}


#keyboard {
    width: 100%;
    position: relative;
}

.whitekey {
    width: 10%;
    height: 500px;
    display: inline-block;
    border: 1px solid #000;
}

.blackkey {
    width: 9%;
    height: 280px;
    display: inline-block;
    margin-left: -5%;
    background-color: #000;
    color: white;

    position: absolute;
    top: 1;
    z-index: 1;
}

.text {
    position: absolute;
    bottom: 50px;
    font-size: 12px;


}

.clickedkey {
    background-color: yellow;
}

.center{
    text-align: center;

}

.profile-image {
    margin: 16px 0 0;
    text-align: center;
}

.profile-image img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.nicomoji {
    font-family: 'Nico Moji';
}

/* Webフォントを定義 */
@font-face {
    font-family: 'NicoKaku'; /* フォント名 */
    /* フォーマットごとにパスを指定 */
    src: url('nicokaku_v2.ttf');
  }

  h1 {
    font-family:"NicoKaku";
  }


  #btn {
    display: flex;
    justify-content: center;
  }
  
  #btn div {
    font-size: 25px;
    line-height: 1em;
    background: #eee;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    width: 90px;
    padding: 30px 0;
    display: block;
    margin: 0 10px;
    /* drop-shadow: 10px; */
  }
  
  #btn div:hover {
    opacity: 0.7;
    cursor: pointer;
  }